appdirs==1.4.4
asn1tools==0.167.0
bitstruct==8.21.0
flatdict==4.0.1
lxml==6.0.2
packaging==25.0
psutil==7.0.0
psutils==3.3.9
puremagic==1.28
pynmeagps==1.0.55
pyparsing==3.2.5
pypdf==5.4.0
pyserial==3.5
pyshark==0.6
scapy==2.6.1
termcolor==3.2.0
typeguard==4.4.4
typing_extensions==4.15.0

